!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Sinatra Rehearsals
    
    %link{:href => "styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
  %body
    %h1 Version history
    
    %table{:cellspacing => 0}
      %col{:width => "20%"}
      %col{:width => "80%"}
      %thead
        %tr
          %th Tag
          %td Message
      %tbody
        %tr
          %th
            %a{:href => "latest/"} Master
          %td 

      - for tag in @tags.reverse!
        %tr
          %th
            %a{:href => "tags/#{tag['name']}/"}
              = tag['name']
          %td 
            = tag['message']