body {
  background-color: #333;
  color: #999;
  padding: 24px 24px;
}
h1 {
  font-size: 72px;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
  font-weight: normal;
}
table {
  font-family: HelveticaNeue-Light, Helvetica, sans-serif;
  margin-top: 6px;
  font-size: 24px;
  width: 100%;
  border-top: 1px solid #ccc;
}
thead th, thead td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-family: HelveticaNeue-Light, Helvetica, sans-serif;
}
tbody th, tbody td {
  padding: 10px 0;
  border-bottom: 1px solid #666;
  vertical-align: top;
}
table th {
  text-align: left;
  font-weight: normal;
  padding-right: 24px;
}
a {
  color: #f33;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #f33;
}